@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Table header and cell styling */
th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #183473; /* Blue border */
}

/* Optional: Add hover effect for rows */
tr:hover {
  background-color: #f4f4f4;
}

/* Styling for table headers */
th {
  background-color: #f0f4ff; /* Light background for header */
  font-weight: bold;
  color: #183473; /* Blue text for header */
}
